h1 {
    text-align: center;
    color: #8c55ff;
}

a {
    color: #8c55ff;
}

h2 {
    font-family: "Playwrite DE VA", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  