body {
    background-color: ghostwhite;
    padding: 20px;
}

.upper-container {
    background-color: #ededed;
    border-radius: 20px;
    padding: 10px;
}

.profile-pic {
    width: 150px;
    height: 170px;
    display: block;
    margin: auto;
    border-radius: 20px;
}

h1 {
    text-align: center;
    color: black;
    font-size: 2.9rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    color: #8c55ff;
}

p, ul {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
}

.education {
    display: flex;
    align-items: left;
}

.education img {
    border-radius: 20px;
    float: right;
    margin-left: 30px;
    margin-right: 30px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .education {
        flex-direction: column;

    }
}

.square {
    width: 20px;
    height: 20px;
    background-color: #8c55ff;
    display: inline-flex;
}

.square-2 {
    width: 20px;
    height: 20px;
    background-color: midnightblue;
    display: inline-flex;
}

.country-flags {
    text-align: center;
    padding-top: 10px;
}

footer .footer-container {
    text-align: center;
    float: right;
    background-color: #8c55ff;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

footer p {
    color: midnightblue;
    text-align: right;
    padding-right: 20px;
}

footer a {
    color: white;
}

