html {
    background-color: ghostwhite;
}

h1 {
    text-align: center;
}

h2 {
    font-family: cursive;
}

p, ul {
    font-family: monospace;
}

img.profile-pic {
    display: block;
    margin: auto;
    border-radius: 20px;
}

.country-flags {
    text-align: center;
    padding-top: 10px;
}

footer {
    text-align: center;
    border: 1px solid #8c55ff;
    padding: 10px;
    margin: 10px;
}

footer a {
    color: #8c55ff;
}

 h2.section-title {
    color: #8c55ff;
}