h1 {
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

h2 {
    font-family: cursive;
}

p {
    font-family: monospace;
}

ul {
    font-family: monospace;
}

footer {
    text-align: center;
    border: 1px solid #8c55ff;
    padding: 10px;
    margin: 10px;
}

footer a {
    color: #8c55ff;
}

